<div class="[ col-md-5 ]">
    <div class="[ panel panel-default ] panel-google-plus">
        <div class="panel-heading">
            <img class="[ img-circle pull-left ]" src={{model.pokemon.sprites.front_default}} alt="Mouse0270" />
            <h3>{{model.pokemon.name}}</h3>{{model.id}}
            <h5><span>Shared publicly</span> - <span>Jun 27, 2014</span> </h5>
        </div>

        {{model.pokemon.name}}
        
        <div class="panel-body">
          <div class="[ col-md-6 ]">
            <p>Name: {{model.pokemon.name}}</p>
            <p>Height: {{model.pokemon.height}}</p>
            <p>Weight: {{model.pokemon.weight}}</p>
            <p>Base experience: {{model.pokemon.base_experience}}</p>
          </div>
          <div class="[ col-md-6 ]">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Base Stats</h4>
              </div>
              <table class="table _stat-table">
                <tbody>
                    {{#each model.pokemon.stats as |statInfo|}}
                      <tr>
                        <th scope="row'">{{statInfo.stat.name}}</th>
                        <td>{{statInfo.base_stat}}</td>
                      </tr>
                    {{/each}}
                    <tr>
                      <th scope="row'">Total</th>
                      <td>{{sum-stats model.pokemon.stats}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        
        <div class="panel-footer">
            <button class="[ btn btn-default ]"  data-toggle="modal" data-target="#myModalNorm">Add comment...
                <span class="[ glyphicon glyphicon-comment ]"></span>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" 
                              data-dismiss="modal">
                                  <span aria-hidden="true">&times;</span>
                                  <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Modal title
                            </h4>
                        </div>
                        
                        <!-- Modal Body -->
                        <div class="modal-body">
                            
                            <form role="form">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                  <input type="email" class="form-control"
                                  id="exampleInputEmail1" placeholder="Enter Name"/>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                  <input type="password" class="form-control"
                                      id="exampleInputPassword1" placeholder="Email"/>
                              </div>
                              <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                              </div>
                            </form>
                            
                            
                        </div>
                        
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                        Close
                            </button>
                            <button type="button" class="btn btn-success" {{action "createComment"}}>
                                Comment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul>
        {{model.comments.firstObject}}
        {{#each model.comments as |comment|}}
            <li>{{comment.name}}</li>
            <li>{{comment.email}}</li>
            <li>{{comment.message}}</li>
        {{/each}}
        </ul>
</div>

