<div class="[ col-md-5 ]">
    <div class="[ panel panel-default ] ">
        <div class="panel-heading col-md-12">
            <img class="[ img-circle pull-left ]" src={{model.pokemon.sprites.front_default}} alt="Mouse0270" />
            <h3>{{capitalize-first-letter model.pokemon.name}}</h3>
        </div>
        
        <div class="panel-body">
          <div class="[ col-md-6 ]">
            <div class="panel-heading">
                <h4 class="panel-title">Basic Information</h4>
            </div>
             <table class="table _stat-table">
            <tbody>
                <tr>
                    <th scope="row'">Height</th>
                    <td>{{model.pokemon.height}}</td>
                </tr>
                <tr>
                    <th scope="row'">Weight:</th>
                    <td>{{model.pokemon.height}}</td>
                </tr>
                <tr>
                    <th scope="row'">Base experience:</th>
                    <td>{{model.pokemon.base_experience}}</td>
                </tr>
            </tbody>
             </table>
          </div>
          <div class="[ col-md-6 ]">
              <div class="panel-heading">
                <h4 class="panel-title">Base Stats</h4>
              </div>
              <table class="table _stat-table">
                <tbody>
                    {{#each model.pokemon.stats as |statInfo|}}
                      <tr>
                        <th scope="row'">{{statInfo.stat.name}}</th>
                        <td>{{statInfo.base_stat}}</td>
                      </tr>
                    {{/each}}
                    <tr>
                      <th scope="row'">Total</th>
                      <td>{{sum-stats model.pokemon.stats}}</td>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
        
        
        <div class="panel-footer">
            <button class="[ btn btn-default ]"  data-toggle="modal" data-target="#myModalNorm">Add comment...
                <span class="[ glyphicon glyphicon-comment ]"></span>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" 
                              data-dismiss="modal">
                                  <span aria-hidden="true">&times;</span>
                                  <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Modal title
                            </h4>
                        </div>
                        
                        <!-- Modal Body -->
                        <div class="modal-body">
                            
                            <form role="form">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                  <input type="email" class="form-control"
                                  id="exampleInputEmail1" placeholder="Enter Name"/>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                  <input type="password" class="form-control"
                                      id="exampleInputPassword1" placeholder="Email"/>
                              </div>
                              <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                              </div>
                            </form>
                            
                            
                        </div>
                        
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                        Close
                            </button>
                            <button type="button" class="btn btn-success" {{action "createComment"}}>
                                Comment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>Comments</h3>
    {{#each model.comments as |comment|}}
    <!-- Comment -->
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{comment.name}}
                <small>August 25, 2014 at 9:30 PM</small>
            </h4>
            {{comment.message}}
        </div>
    </div>
    {{/each}}
</div>

